html, body {
    margin: 0;
    padding: 0;
    width: 100%;

    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

form .row {
    margin-bottom: 2rem;
}

input, textarea, select, fieldset {
    margin-bottom: 0;
}

form span {
    color: #555;
    font-size: 0.85em;
    margin-bottom: 2em;
}

.linha-cor {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #33C3F0;
    height: 3px;
}

.midia-buttons{
    width: 15em;
}

.midia-buttons-div{
    width: 18em;
}

.space-icons{
    margin-right: 5px;
    border-right: solid 1px lightgrey;
}
.space-icons-border{
    border-right: solid 1px lightgrey;
    margin-left: 20px;
}

.header {
    border-top: 3px solid #33C3F0;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.75);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    transition: height 0.5s;
    background-color: #f9f9f9;
}

.header.shrink {
    height: 100px;
    background-color: #fff;
}

.banner {
    height: 90px;
    width: 100%;
}

.meio.columns {
    width: 52%;
}

#artigos {
    overflow-y: auto;
    height: 90%;
}

#ligue {
    float: left;
    min-width: 300px;
}

.header-options p {
    font-size: 0.8em;
    margin-top: -4px;
    margin-bottom: 0;
    cursor: pointer;
}

.toolbar div {
    width: 5em;
    padding: 5px;
    margin: 0;
    text-align: center;
}

.toolbar img {
    width: 1.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.toolbar span {
    align-items: center;
    font-size: 0.8em;
}

.lista-operacoes {
    margin: 1% 1% 2rem;
    max-height: 500px;
}

.menu-left {
    line-height: 33px;
    cursor: pointer;
    color: #717171;
}

.menu-left img {
    width: 16px;
    margin-right: 5px;
}

.menu-perfil-img {
    width: 16px;
    margin-right: 5px;
}

.img-perfil {
    width: 64px;
    border: 5px solid #fff;
    -webkit-box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.75);

}

.menu-left-perfil {
    max-width: 2.5em;
}

.logo {
    margin-top: 10px;
    margin-bottom: auto;
}

.toolbar {
    height: 100%;
}

.toolbar .u-pull-right {
    min-width: 4em;
    margin-right: 0.5em;
}

.toolbar div span i {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: rgba(63, 64, 80, 0.92);
    font-size: 1.5em;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.popupbox {
    display: none;
}


.docs-section {
    border-bottom: 1px solid #cacaca;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.menu-unidade {
    line-height: 16px;
    padding-left: 20px;
    font-size: 0.85em;
    padding-bottom: 5px;
}

.localizar {
    width: 16px;
}

.itemartigosrecentes {
    line-height: normal;
    display: inline-block;
    border-bottom: 1px solid lightgrey;
}

.itemartigosrecentes a {
    font-size: 1.1em;
    line-height: normal;
    display: inline-block;
    cursor: pointer;

}

.itemartigosrecentes p {
    color: rgba(98, 98, 98, 0.84);
    display: inline-block;
    font-size: 0.85em;
}

.itemartigosrecentes cite {
    display: inline-block;
    font-style: normal;
    font-size: 0.8em;
    color: rgba(52, 52, 52, 0.84);
}

.rodape {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #cacaca;
    border-radius: 4px;
}

div.dhx_popup_material div.dhx_popup_area td.dhx_popup_td {
    line-height: normal;
}

.rodape img {
    width: 6em;
}

.rodape span {
    font-size: 0.8em;
}

#maincontainer {
    background-color: #fff;
}

.menulateral {
    font-size: 0.8em;
    padding: 1%;
    margin: 1%;
}

/*Termo de privacidade*/

.container-termo{
    background-color: white;
    -webkit-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.75);
    padding: 3em;
}
.container-background{
    background: rgb(246,248,249); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 100%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 100%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 100%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
}


.teste {
    color: red;
    background-color: #0ab169;
}

.sucesso, .falha {
    border-bottom: 1px solid #cacaca;
    padding: 12px;
    margin-top: -15px;
    margin-bottom: 10px;
}

.sucesso {
    color: #032f62;
    background-color: rgba(232, 242, 254, 0.4);
}

.falha {
    color: rgba(246, 243, 228, 0.55);
    background-color: rgba(254, 3, 0, 0.4);
}

.borderleft {
    border-left: 1px solid #cacaca;
}

.borderright {
    border-right: 1px solid #cacaca;
}